Repository OmniPotentRPC/rgpot: changes, and which pre-commit hooks are due for each by the changed paths.
All: cppcheck, nickel-format

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
    exclude: ^(src)
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-added-large-files
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v16.0.6
  hooks:
  - id: clang-format
    types_or: [c++, c]
- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format
- repo: local
  hooks:
    - id: towncrier-check
      name: towncrier fragment check
      entry: pixi run towncrier
      language: system
      pass_filenames: false
      always_run: true
      args: ["check", "--compare-with", "origin/main"]
    - id: cppcheck
      name: cppcheck
      entry: cppcheck
      language: system
      types_or: [c++, c]
      args: ["--error-exitcode=0"]
    # - id: cpplint
    #   name: cpplint
    #   entry: cpplint
    #   language: system
    #   types_or: [c++, c]
    #   args: ["--filter=-whitespace/comments,-runtime/references,-whitespace/indent,-runtime/int,-build/c++11"]
    - id: meson-format
      name: meson format
      entry: meson
      language: system
      types: [meson]
      files: meson\.build$
      args: ["format", "-i"]
    - id: nickel-format
      name: nickel format
      entry: pixi r -e cigen nickel
      language: system
      files: \.ncl$
      args: ["format"]

deploy: 759991a6365e083315f792f4d33e5e3487c42f0b
  changelog.html
  searchindex.js
Due: none

deploy: b3fa31557f953589c9c611f089586308d1fc9d61
  _sources/api/namespace_rgpot-2.rst.txt
  api/namespace_rgpot-2.html
  objects.inv
  searchindex.js
Due: none

deploy: 43fc54e62dc0473b4ac8084fa5f55f54db25d9a2
  _sources/howto/embedding.rst.txt
  _sources/index.rst.txt
  howto/embedding.html
  index.html
  searchindex.js
Due: none

docs(api): name the rank that fills ForceOut
  CppCore/rgpot/CPMDPot/CPMDPot.hpp
  CppCore/rgpot/CalculatorGroup.hpp
  docs/newsfragments/+calculator-rank-sentences.fixed.md
Due: cppcheck

fix(mpi): finalize after a refused calculator split
  CppCore/tests/RefusedSplit.cc
  docs/newsfragments/+refused-split-finalize.dev.md
Due: cppcheck

fix(cpmd): keep stress from the gradient fallback
  CppCore/meson.build
  CppCore/rgpot/CPMDPot/CPMDPot.cc
  CppCore/rgpot/units.hpp
  CppCore/tests/CPMDPotGradientStressTest.cc
  CppCore/tests/CPMDPotMessageAbiTest.cc
  CppCore/tests/cpmd_stress_oracle.hpp
  CppCore/tests/cpmdc_fake_engine.cc
  CppCore/tests/cpmdc_gradient_engine.cc
  docs/newsfragments/+gradient-stress.fixed.md
Due: cppcheck

feat(stress): report the Cauchy stress from pair forces and virials
  CppCore/rgpot/LennardJones/LJPot.cc
  CppCore/rgpot/LennardJones/LJPot.hpp
  CppCore/rgpot/Morse/MorsePot.cc
  CppCore/rgpot/Morse/MorsePot.hpp
  CppCore/rgpot/TBLitePot/TBLitePot.cc
  CppCore/rgpot/TBLitePot/TBLitePot.hpp
  CppCore/rgpot/XTBPot/XTBPot.cc
  CppCore/rgpot/XTBPot/XTBPot.hpp
  CppCore/rgpot/ZBL/ZBLPot.cc
  CppCore/rgpot/ZBL/ZBLPot.hpp
  CppCore/rgpot/pot_caps.hpp
  CppCore/rgpot/stress.hpp
  CppCore/tests/LJClusterPotTest.cc
  docs/newsfragments/+pair-stress.added.md
Due: cppcheck

test(lj): compare the pair stress with a coordinate difference
  CppCore/tests/LJClusterPotTest.cc
Due: cppcheck

fix(ci): run calculator_group_test under mpirun
  .github/workflows/ci-orchestrator.yml
  docs/newsfragments/+mpi-ci.fixed.md
  pixi.lock
  pixi.toml
  potctl/src/ci.rs
Due: none

fix(mpi): hand the calculator communicator to the engine
  CppCore/meson.build
  CppCore/rgpot/CPMDPot/CPMDPot.cc
  CppCore/rgpot/CPMDPot/CPMDPot.hpp
  CppCore/rgpot/CalculatorGroup.cc
  CppCore/rgpot/CalculatorGroup.hpp
  CppCore/tests/AdoptComm.cc
  CppCore/tests/adopt_comm.sh
  CppCore/tests/cpmdc_adopt_engine.cc
  CppCore/tests/mpi_split_profile.c
  docs/newsfragments/+adopt-calculator-comm.fixed.md
  docs/orgmode/reference/mpi.org
Due: cppcheck

deploy: 0e78afd0d23e4f328528e5fabc0a9ed7bad1a1d3
  _sources/api/class_rgpot_CPMDPot.rst.txt
  _sources/api/namespace_rgpot-2.rst.txt
  _sources/api/namespace_rgpot_units.rst.txt
  _sources/api/struct_rgpot_CalculatorGroup.rst.txt
  api/class_rgpot_CPMDPot.html
  api/namespace_rgpot-2.html
  api/namespace_rgpot_units.html
  api/struct_rgpot_CalculatorGroup.html
  genindex.html
  objects.inv
  searchindex.js
Due: none

deploy: b3edad522964c2524005ab0f712545261f0f017a
  _sources/api/class_rgpot_CPMDPot.rst.txt
  _sources/api/namespace_rgpot-2.rst.txt
  _sources/api/struct_rgpot_CPMDPot_Impl.rst.txt
  api/class_rgpot_CPMDPot.html
  api/namespace_rgpot-2.html
  api/struct_rgpot_CPMDPot_Impl.html
  genindex.html
  objects.inv
  searchindex.js
Due: none

deploy: bd38f2508f2dfe2ac1a5de8c35e8a55f580fa44e
  changelog.html
  searchindex.js
Due: none

feat(cpmd): name the orbital key of each force for the engine session
  CppCore/rgpot/CPMDPot/CPMDPot.cc
  CppCore/rgpot/CPMDPot/CPMDPot.hpp
  CppCore/rgpot/CPMDPot/README.md
  CppCore/rgpot/CPMDPot/cpmd_c_abi.h
  CppCore/rgpot/CPMDPot/cpmd_c_abi_stub.c
  CppCore/rgpot/CPMDPot/cpmd_feature_table.inc
  CppCore/tests/CPMDPotMessageAbiTest.cc
  CppCore/tests/cpmdc_fake_engine.cc
  CppCore/tests/test_cpmd_dlopen_contract.py
  docs/newsfragments/+cpmd-orbital-keys.added.md
Due: cppcheck

test(uma): bound the band test by the model's batch-slot noise
  CppCore/tests/UmaPotTest.cc
Due: cppcheck

test(uma): scale the band force bound with the force size
  CppCore/tests/UmaPotTest.cc
Due: cppcheck

test(plugin): use the documented SI unit definitions
  CppCore/tests/PluginContractTest.cc
Due: cppcheck

fix(build): compile core potentials with their feature definitions
  CppCore/meson.build
Due: none

deploy: 3f17855314880ada9713177b318129446d54cdf0
  _sources/api/class_rgpot_InputSpec.rst.txt
  _sources/api/class_rgpot_UmaPot.rst.txt
  _sources/api/struct_rgpot_UmaConfig.rst.txt
  _sources/api/struct_rgpot_UmaPot_Impl.rst.txt
  api/class_rgpot_InputSpec.html
  api/class_rgpot_UmaPot.html
  api/struct_rgpot_UmaConfig.html
  api/struct_rgpot_UmaPot_Impl.html
  objects.inv
  searchindex.js
Due: none

test(xc): verify Python operands and scalar functional derivatives
  tests/test_xckernel_contract.py
Due: none

style(xc): format the Python contraction checks
  tests/test_xckernel_contract.py
Due: none

docs(cpmd): the box of a force call is the cell
  CppCore/rgpot/CPMDPot/README.md
  docs/newsfragments/+cpmd-box-is-cell.changed.md
Due: none

fix(uma): require the model path in the ASE parity driver
  CppCore/tests/uma_ase_parity.cc
Due: cppcheck

fix(uma): refuse an edge count outside the exported graph's range
  CppCore/rgpot/UmaPot/UmaContract.hpp
  CppCore/rgpot/UmaPot/UmaPot.cc
  CppCore/tests/UmaPotTest.cc
  scripts/export_uma_aoti.py
Due: cppcheck

fix(core): validate eindir callback results before reading them
  rgpot-core/src/eindir.rs
  rgpot-core/src/tensor.rs
Due: none

build(pixi): pin eonviz to released chemparseplot and rgpycrumbs, readcon>=0.14.7, add check-eonviz-pins
  pixi.toml
  scripts/check_eonviz_pins.sh
Due: none

build(pixi): add a umaexport environment pinning fairchem-core for the AOTI exporter
  pixi.toml
Due: none

ci: keep write permissions to push-only jobs
  .github/workflows/ci_docs.yml
  .github/workflows/coverage.yml
  ci/gha/ci_docs.ncl
  ci/gha/lib/pins.ncl
Due: nickel-format

ci: fail coverage generation on test or capture errors
  .github/workflows/coverage.yml
  scripts/run_coverage_cpp.sh
  scripts/run_coverage_fortran.sh
  scripts/run_coverage_python.sh
Due: none

build(pixi): relock for the eonviz pins and the umaexport environment
  pixi.lock
Due: none

test(xckernel): pin the H2O GGA fxc case from the C dump at the exclusive bar
  CppCore/tests/XcKernelTest.cc
  CppCore/tests/data/xckernel/MANIFEST.json
  CppCore/tests/data/xckernel/gga_r_o2_fxc_ref.npy
  CppCore/tests/dump_xckernel_goldens.cc
Due: cppcheck

feat(cache): count computed and served evaluations per cache handle
  CppCore/rgpot/Potential.hpp
  CppCore/rgpot/PotentialCache.hpp
  CppCore/tests/CacheTest.cc
Due: cppcheck

ci: require the macOS wheel and validate its contents
  .github/workflows/wheels.yml
Due: none

feat(core): expose per-handle computed and served counts through the C ABI
  rgpot-core/include/rgpot.h
  rgpot-core/src/c_api/mod.rs
  rgpot-core/src/eindir.rs
Due: cppcheck

test: reject xckernel generator sources and sympy in built wheels
  .github/workflows/wheels.yml
  tests/check_wheel_contents.py
  tests/test_wheel_contents.py
Due: none

feat(python): expose PotentialCache and its computed/served counts
  python/bind/bind_module.cpp
  python/rgpot/__init__.py
  tests/test_rgpot_pip_core.py
Due: cppcheck

ci: add a plugin host leg running the plugin ABI tests
  .github/workflows/ci-orchestrator.yml
  ci/gha/README.md
  ci/gha/plan.ncl
  potctl/src/ci.rs
  potctl/src/main.rs
Due: nickel-format
