Repository OmniPotentRPC/rgpot: changes, and which pre-commit hooks are due for each by the changed paths.
All: cppcheck, nickel-format

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=0

nickel-format:
  name: nickel format
  entry: pixi r -e cigen nickel
  language: system
  args:
  - format

deploy: ce09c4d31f4e170ba4ce5af8afac5dbe77e8a5e2
  _sources/api/enum_rgpot_units_DimIndex.rst.txt
  _sources/api/enum_rgpot_units_TokenType.rst.txt
  _sources/api/namespace_rgpot_units.rst.txt
  _sources/api/struct_rgpot_units_Dimension.rst.txt
  _sources/api/struct_rgpot_units_Token.rst.txt
  _sources/api/struct_rgpot_units_UnitExpr.rst.txt
  _sources/api/struct_rgpot_units_UnitExpr_Div.rst.txt
  _sources/api/struct_rgpot_units_UnitExpr_Mul.rst.txt
  _sources/api/struct_rgpot_units_UnitExpr_Pow.rst.txt
  _sources/api/struct_rgpot_units_UnitExpr_Val.rst.txt
  _sources/api/struct_rgpot_units_UnitValue.rst.txt
  api/enum_rgpot_units_DimIndex.html
  api/enum_rgpot_units_TokenType.html
  api/namespace_rgpot_units.html
  api/struct_rgpot_units_Dimension.html
  api/struct_rgpot_units_Token.html
  api/struct_rgpot_units_UnitExpr.html
  api/struct_rgpot_units_UnitExpr_Div.html
  api/struct_rgpot_units_UnitExpr_Mul.html
  api/struct_rgpot_units_UnitExpr_Pow.html
  api/struct_rgpot_units_UnitExpr_Val.html
  api/struct_rgpot_units_UnitValue.html
  genindex.html
  objects.inv
  searchindex.js
  sitemap.xml
Due: none

feat: add versioned C plugin ABI with runtime discovery
  CppCore/examples/null_plugin.c
  CppCore/meson.build
  CppCore/rgpot/plugin/DynLib.hpp
  CppCore/rgpot/plugin/PluginBridge.cc
  CppCore/rgpot/plugin/PluginBridge.hpp
  CppCore/rgpot/plugin/PluginRegistry.cc
  CppCore/rgpot/plugin/PluginRegistry.hpp
  CppCore/rgpot/plugin/builtins/lj_plugin.cpp
  CppCore/rgpot/plugin/meson.build
  CppCore/tests/PluginTest.cc
  include/rgpot/plugin.h
  meson.build
  meson_options.txt
Due: cppcheck

feat: add plugin examples in 7 languages
  CppCore/examples/plugins/README.org
  CppCore/examples/plugins/coulomb_plugin.f90
  CppCore/examples/plugins/harmonic_plugin.py
  CppCore/examples/plugins/jax_lj_plugin.py
  CppCore/examples/plugins/morse_plugin.rs
  CppCore/examples/plugins/null_plugin.c
  CppCore/examples/plugins/python_bridge.c
  CppCore/examples/plugins/spring_plugin.jl
  CppCore/examples/plugins/torch_nn_plugin.py
Due: cppcheck

feat: external plugin tests (C null, C Morse, Fortran Coulomb)
  CppCore/examples/plugins/coulomb_plugin.f90
  CppCore/examples/plugins/coulomb_plugin_wrapper.c
  CppCore/examples/plugins/morse_plugin.c
  CppCore/meson.build
  CppCore/rgpot/LennardJones/LJPot.hpp
  CppCore/tests/ExternalPluginTest.cc
Due: cppcheck

feat: CI-tested plugin examples in Python, JAX, PyTorch, Julia, Rust
  CppCore/examples/plugins/jax_lj_plugin.py
  CppCore/examples/plugins/morse_rust/Cargo.toml
  CppCore/examples/plugins/morse_rust/src/lib.rs
  CppCore/examples/plugins/torch_nn_plugin.py
  CppCore/meson.build
  pixi.toml
Due: none

feat: SIMD vectorized ops + parallel BatchEvaluator
  CppCore/meson.build
  CppCore/rgpot/BatchEvaluator.cc
  CppCore/rgpot/BatchEvaluator.hpp
  CppCore/rgpot/TBLitePot/TBLitePot.cc
  CppCore/rgpot/XTBPot/XTBPot.cc
  CppCore/rgpot/plugin/PluginBridge.cc
  CppCore/rgpot/simd_ops.hpp
  CppCore/tests/BatchTest.cc
  meson.build
Due: cppcheck

fix: VesinDevice is an enum, not a struct
  CppCore/rgpot/MetatomicPot/MetatomicPot.cc
Due: cppcheck

feat: add XTB/TBLite/Metatomic potentials and unit negotiation
  CHANGELOG.md
  CppCore/meson.build
  CppCore/rgpot/MetatomicPot/MetatomicPot.cc
  CppCore/rgpot/MetatomicPot/MetatomicPot.hpp
  CppCore/rgpot/MetatomicPot/meson.build
  CppCore/rgpot/Potential.hpp
  CppCore/rgpot/PotentialCache.cc
  CppCore/rgpot/PotentialCache.hpp
  CppCore/rgpot/TBLitePot/TBLitePot.cc
  CppCore/rgpot/TBLitePot/TBLitePot.hpp
  CppCore/rgpot/TBLitePot/meson.build
  CppCore/rgpot/XTBPot/XTBPot.cc
  CppCore/rgpot/XTBPot/XTBPot.hpp
  CppCore/rgpot/XTBPot/meson.build
  CppCore/rgpot/pot_types.hpp
  CppCore/rgpot/rpc/Potentials.capnp
  CppCore/rgpot/rpc/server.cpp
  CppCore/rgpot/types/adapters/eigen.hpp
  CppCore/rgpot/units.cc
  CppCore/rgpot/units.hpp
  CppCore/tests/MetatomicPotTest.cc
  CppCore/tests/TBLitePotTest.cc
  CppCore/tests/UnitsTest.cc
  CppCore/tests/XTBPotTest.cc
  CppCore/tests/data/lj38/lennard-jones.pt
  meson.build
  meson_options.txt
  pixi.lock
  pixi.toml
  rgpot-core/schema/Potentials.capnp
  towncrier.toml
Due: cppcheck

docs: document optional potentials, units, and embedding flags
  README.md
  docs/orgmode/contributing/developer/faq.org
  docs/orgmode/contributing/developer/index.org
  docs/orgmode/contributing/developer/release.org
  docs/orgmode/contributing/index.org
  docs/orgmode/howto/embedding.org
  docs/orgmode/howto/integration.org
  docs/orgmode/index.org
  docs/orgmode/reference/architecture.org
  docs/orgmode/tutorials/quickstart.org
  readme_src.org
  rgpot-core/README.md
  rgpot-core/README.org
Due: none

ci: adopt prek hooks and snapper/lychee docs quality gates
  .github/workflows/docs_quality.yml
  .github/workflows/pre_commit.yml
  .github/workflows/prek.yml
  .lychee.toml
  .pre-commit-config.yaml
  .snapper.toml
  pixi.toml
  prek.toml
Due: none

fix(metatomic): require vesin 0.5+ device struct and options fields
  CppCore/rgpot/MetatomicPot/MetatomicPot.cc
  CppCore/rgpot/MetatomicPot/MetatomicPot.hpp
Due: cppcheck

ci(release): lockstep cog+towncrier prepare and tag publish
  .github/workflows/release-prepare.yml
  .github/workflows/release.yml
  .github/workflows/towncrier.yml
  cog.toml
  docs/newsfragments/.gitkeep
  docs/newsfragments/35.added.md
  docs/newsfragments/36.added.md
  docs/newsfragments/37.added.md
  docs/newsfragments/38.added.md
  docs/newsfragments/README.md
  docs/newsfragments/vesin05.fixed.md
  docs/orgmode/contributing/developer/release.org
  pixi.toml
  prek.toml
  rgpot-core/Cargo.toml
  scripts/release/sync-versions.sh
Due: none

ci(release): harden lockstep version sync and vesin fragment id
  .github/workflows/release-prepare.yml
  docs/newsfragments/+vesin05.fixed.md
  docs/newsfragments/README.md
  scripts/release/sync-versions.sh
Due: none

docs(changelog): record vesin 0.5+ MetatomicPot compatibility
  CHANGELOG.md
Due: none

chore(release): target 1.2.0 lockstep and cocogitto 7
  .github/workflows/release-prepare.yml
  CHANGELOG.md
  cog.toml
  docs/newsfragments/+release-lockstep.dev.md
  docs/newsfragments/+vesin05.fixed.md
  docs/newsfragments/35.added.md
  docs/newsfragments/37.added.md
  docs/orgmode/contributing/developer/index.org
  docs/orgmode/contributing/developer/release.org
  docs/orgmode/reference/architecture.org
  meson.build
  pixi.toml
  rgpot-core/Cargo.toml
  towncrier.toml
Due: none

ci: add potentials matrix for xtb/tblite and metatomic/vesin
  .github/workflows/potentials.yml
Due: none

untracked files on feat/direct-metatomic-export: e2ba03e feat: add Antics analytics tracker alongside Umami
  CppCore/rgpot/MetatomicPot/MetatomicCAPI.cc
  CppCore/tests/MetatomicCapiTest.cc
  include/dlpack/dlpack.h
  include/rgpot/metatomic.h
  scripts/build_rgpot_core.sh
Due: cppcheck

deploy: 4aa3d8a7ce0d680a7638a3dd67311adc9a30f067
  _sources/api/namespace_rgpot_units.rst.txt
  _sources/changelog.rst.txt
  _sources/contributing/developer/faq.rst.txt
  _sources/contributing/developer/index.rst.txt
  _sources/contributing/developer/release.rst.txt
  _sources/contributing/index.rst.txt
  _sources/howto/embedding.rst.txt
  _sources/howto/integration.rst.txt
  _sources/index.rst.txt
  _sources/reference/architecture.rst.txt
  _sources/tutorials/quickstart.rst.txt
  api/namespace_rgpot_units.html
  changelog.html
  contributing/developer/faq.html
  contributing/developer/index.html
  contributing/developer/release.html
  contributing/index.html
  howto/embedding.html
  howto/integration.html
  index.html
  reference/architecture.html
  searchindex.js
  tutorials/quickstart.html
Due: none

deploy: b06cc6c66b497e894104fe72c14bf25b6501b4f7
  changelog.html
  searchindex.js
Due: none

chore(ci): modernize Nickel build matrix generator
  .github/workflows/build.yml
  ci/gha/README.md
  ci/gha/workflow.ncl
Due: nickel-format

chore(ci): generate all GHA workflows from Nickel
  .github/workflows/build.yml
  .github/workflows/ci_doc_commenter.yml
  .github/workflows/ci_docs.yml
  .github/workflows/cosmo-potctl-spike.yml
  .github/workflows/cosmo-potctl.yml
  .github/workflows/docs_quality.yml
  .github/workflows/potentials.yml
  .github/workflows/prek.yml
  .github/workflows/release-prepare.yml
  .github/workflows/release.yml
  .github/workflows/towncrier.yml
  ci/gha/README.md
  ci/gha/build.ncl
  ci/gha/ci_doc_commenter.ncl
  ci/gha/ci_docs.ncl
  ci/gha/cosmo_potctl.ncl
  ci/gha/cosmo_potctl_spike.ncl
  ci/gha/docs_quality.ncl
  ci/gha/gen.sh
  ci/gha/potentials.ncl
  ci/gha/prek.ncl
  ci/gha/release.ncl
  ci/gha/release_prepare.ncl
  ci/gha/towncrier.ncl
  ci/gha/workflow.ncl
  pixi.toml
Due: nickel-format

chore(ci): track ci/gha/lib pins and steps modules
  ci/gha/lib/pins.ncl
  ci/gha/lib/steps.ncl
Due: nickel-format

ci(gha): drift gate, pins/steps polish, gitignore lib exception
  .gitignore
  ci/gha/README.md
  ci/gha/check-drift.sh
  ci/gha/lib/pins.ncl
  ci/gha/lib/steps.ncl
  ci/gha/release.ncl
  ci/gha/release_prepare.ncl
  pixi.toml
  prek.toml
Due: nickel-format

fix(ci): nickel-fmt via format.sh (avoid pixi ${} interpolation)
  ci/gha/format.sh
  pixi.toml
Due: none

docs(ci): sketch Dagger + GitHub Actions integration (opt-in)
  .github/workflows/dagger-ci.yml
  ci/dagger/.gitignore
  ci/dagger/MODULE.sketch.md
  ci/dagger/README.md
Due: none

deploy: 57987a3449d0e175bcd61cb907164f9d46867bfb
  _sources/contributing/developer/index.rst.txt
  _sources/contributing/developer/release.rst.txt
  _sources/reference/architecture.rst.txt
  contributing/developer/index.html
  contributing/developer/release.html
  reference/architecture.html
  searchindex.js
Due: none

fix(schema): pin potentials-schema v1.1.1 with hugeGrid rename
  .lycheecache
  CppCore/rgpot/rpc/Potentials.capnp
  GEOMETRY
  GEOMETRY.xyz
  LATEST
  RESTART.1
  fort.5
  rgpot-core/schema/Potentials.capnp
  subprojects/potentials-schema.wrap
Due: none

chore: drop accidentally committed CPMD runtime output; ignore the set
  .gitignore
  .lycheecache
  GEOMETRY
  GEOMETRY.xyz
  LATEST
  RESTART.1
  fort.5
Due: none

Path conditions:
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  nickel-format: any of: \.ncl$
