Repository OmniPotentRPC/rgpot: changes, and which pre-commit hooks are due for each by the changed paths.
All: cppcheck, nickel-format

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
    exclude: ^(src)
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-added-large-files
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v16.0.6
  hooks:
  - id: clang-format
    types_or: [c++, c]
- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format
- repo: local
  hooks:
    - id: towncrier-check
      name: towncrier fragment check
      entry: pixi run towncrier
      language: system
      pass_filenames: false
      always_run: true
      args: ["check", "--compare-with", "origin/main"]
    - id: cppcheck
      name: cppcheck
      entry: cppcheck
      language: system
      types_or: [c++, c]
      args: ["--error-exitcode=0"]
    # - id: cpplint
    #   name: cpplint
    #   entry: cpplint
    #   language: system
    #   types_or: [c++, c]
    #   args: ["--filter=-whitespace/comments,-runtime/references,-whitespace/indent,-runtime/int,-build/c++11"]
    - id: meson-format
      name: meson format
      entry: meson
      language: system
      types: [meson]
      files: meson\.build$
      args: ["format", "-i"]
    - id: nickel-format
      name: nickel format
      entry: pixi r -e cigen nickel
      language: system
      files: \.ncl$
      args: ["format"]

build: pin potentials-schema to the build-identity revision
  subprojects/potentials-schema.wrap
Due: none

fix(rpc): read capability builders without an extra result layer
  rgpot-core/src/rpc/client.rs
  rgpot-core/src/rpc/server.rs
Due: none

feat(core): refuse incompatible capabilities before dispatch
  CppCore/meson.build
  CppCore/rgpot/abi/Compat.hpp
  CppCore/rgpot/abi/ProfileLoader.hpp
  CppCore/rgpot/rpc/Potentials.capnp
  CppCore/rgpot/rpc/pot_bridge.cc
  CppCore/rgpot/rpc/server.cpp
  CppCore/tests/MpiRpcContractClient.cc
  CppCore/tests/ProfileLoaderTest.cc
  CppCore/tests/cpmdc_fake_engine.cc
  CppCore/tests/test_rpc_schema_sync.py
  docs/newsfragments/+build-identity.added.md
  docs/newsfragments/+capability-handshake.added.md
  docs/newsfragments/+schema-regeneration-check.dev.md
  docs/orgmode/reference/architecture.org
  meson.build
  rgpot-core/build.rs
  rgpot-core/include/rgpot.h
  rgpot-core/schema/Potentials.capnp
  rgpot-core/src/c_api/potential.rs
  rgpot-core/src/compat.rs
  rgpot-core/src/eindir.rs
  rgpot-core/src/lib.rs
  rgpot-core/src/profile.rs
  rgpot-core/src/rpc/client.rs
  rgpot-core/src/rpc/mod.rs
  rgpot-core/src/rpc/server.rs
  rgpot-core/src/version.rs
Due: cppcheck

test(rpc): decode Capabilities across the build-identity schema
  CppCore/meson.build
  CppCore/tests/fixtures/Potentials.pre-build-identity.capnp
  CppCore/tests/test_capabilities_evolution.py
  docs/newsfragments/+capabilities-evolution.dev.md
Due: none

build: pin potentials-schema to the merged capabilities commit
  subprojects/potentials-schema.wrap
Due: none

test(uma): add a bench that runs UmaPot directly and through the engine plugin
  CppCore/meson.build
  CppCore/tests/uma_engine_bench.cc
Due: cppcheck

build(pixi): add umaenginebld, the rpc and metatomic environment that builds libuma_engine
  pixi.lock
  pixi.toml
Due: none

test(uma): time the engine's per-call GIL probe
  CppCore/tests/uma_engine_bench.cc
Due: cppcheck

feat(uma): engine ABI minor, caps, last error, thread and charge/spin calls, and an engine test and CI leg
  .github/workflows/ci-orchestrator.yml
  CppCore/meson.build
  CppCore/rgpot/UmaPot/UmaEngineAbi.cc
  CppCore/rgpot/UmaPot/meson.build
  CppCore/rgpot/engine_c_abi.h
  CppCore/tests/UmaEngineTest.cc
  potctl/src/ci.rs
  potctl/src/main.rs
Due: cppcheck

fix(build): give potserv the torch dependencies when metatomic and rpc are both on
  CppCore/meson.build
Due: none

docs: describe the engine plugin ABI
  docs/newsfragments/+engine-abi-minor.added.md
  docs/orgmode/index.org
  docs/orgmode/reference/engine_abi.org
Due: none

style(docs): apply semantic line breaks to the engine ABI page
  docs/orgmode/reference/engine_abi.org
Due: none

fix(build): spell the build revision fallback without a nested ternary
  CppCore/meson.build
Due: none

chore(core): regenerate the C header
  rgpot-core/include/rgpot.h
Due: cppcheck

feat(engine): one generic rgpot_engine table over PotentialBase for every backend
  CppCore/meson.build
  CppCore/rgpot/MetatomicPot/MetatomicEngineTable.cc
  CppCore/rgpot/MetatomicPot/meson.build
  CppCore/rgpot/UmaPot/UmaEngineAbi.cc
  CppCore/rgpot/UmaPot/meson.build
  CppCore/rgpot/XTBPot/meson.build
  CppCore/rgpot/engine/BuiltinParams.hpp
  CppCore/rgpot/engine/ClassicalEngine.cc
  CppCore/rgpot/engine/EngineTable.cc
  CppCore/rgpot/engine/EngineTable.hpp
  CppCore/rgpot/engine/MopacEngine.cc
  CppCore/rgpot/engine/NWChemEngine.cc
  CppCore/rgpot/engine/Sha256.hpp
  CppCore/rgpot/engine/SkalaEngine.cc
  CppCore/rgpot/engine/TorchRuntime.hpp
  CppCore/rgpot/engine/XtbEngine.cc
  CppCore/rgpot/engine_c_abi.h
  CppCore/rgpot/rpc/Potentials.capnp
  CppCore/tests/EngineAdapterTest.cc
  CppCore/tests/EngineTableTest.cc
  CppCore/tests/engine_stub.cc
  rgpot-core/schema/Potentials.capnp
  subprojects/potentials-schema.wrap
Due: cppcheck

test(uma): engine identity, digest, runtime settings and shared-handle threads
  CppCore/meson.build
  CppCore/tests/UmaEngineTest.cc
Due: cppcheck

build(pixi): build the xtb engine in umaenginebld
  pixi.lock
  pixi.toml
  potctl/src/ci.rs
Due: none

fix(build): link the engine plugins to the core archive on demand
  CppCore/meson.build
Due: none

ci: build and test with -Dwith_skala=true in the engine leg
  potctl/src/ci.rs
Due: none

fix(tests): read the Skala stanza through a non-const builder
  CppCore/tests/SkalaPotTest.cc
Due: cppcheck

docs: describe the generic engine table, runtime parameters and thread safety
  docs/newsfragments/+engine-table-completion.added.md
  docs/orgmode/reference/engine_abi.org
Due: none

build: pin potentials-schema to the merged build-identity release
  CppCore/rgpot/rpc/Potentials.capnp
  rgpot-core/schema/Potentials.capnp
  subprojects/potentials-schema.wrap
Due: none

ci: run the engine plugin leg as its own job
  .github/workflows/ci-orchestrator.yml
  ci/gha/plan.ncl
Due: nickel-format

feat(rpc): servers report capabilities and clients refuse an incompatible server
  CppCore/meson.build
  CppCore/rgpot/abi/Compat.hpp
  CppCore/rgpot/abi/Handshake.hpp
  CppCore/rgpot/rpc/pot_bridge.cc
  CppCore/rgpot/rpc/server.cpp
  rgpot-core/src/compat.rs
  rgpot-core/src/rpc/client.rs
  rgpot-core/src/rpc/server.rs
Due: cppcheck

test(rpc): cross-version Capabilities decode and document the server check
  CppCore/meson.build
  CppCore/tests/data/capabilities_before_build_identity.capnp
  CppCore/tests/test_capabilities_wire.py
  docs/newsfragments/+rpc-capability-check.changed.md
  docs/orgmode/reference/architecture.org
Due: none

build(schema): pin potentials-schema to the merge commit of the runtime fields
  subprojects/potentials-schema.wrap
Due: none

docs: state that each environment leg has its own job and ccache key
  docs/orgmode/contributing/developer/index.org
Due: none

style(docs): apply semantic line breaks to the CI environments note
  docs/orgmode/contributing/developer/index.org
Due: none

docs(xckernel): record the release stage B timings
  docs/orgmode/reference/xckernel.org
Due: none

fix(rpc): include the handshake header in the C bridge
  CppCore/rgpot/rpc/pot_bridge.cc
Due: cppcheck

perf(xckernel): contract stage B with blocked dgemm and dsyr2k
  CppCore/meson.build
  CppCore/rgpot/XcKernel/meson.build
  CppCore/rgpot/XcKernel/xckernel/evaluator.hpp
  CppCore/tests/XcKernelTest.cc
  CppCore/tests/xckernel_bench.cc
  docs/newsfragments/+xckernel-blas.changed.md
  docs/xckernel.md
  pixi.toml
Due: cppcheck

test(rpc): check_server against in-process servers with and without getCapabilities
  CppCore/tests/ProfileLoaderTest.cc
Due: cppcheck

build: pin potentials-schema to the merged runtime-fields revision
  CppCore/rgpot/rpc/Potentials.capnp
  rgpot-core/schema/Potentials.capnp
  subprojects/potentials-schema.wrap
Due: none

style(docs): apply semantic line breaks to the capability handshake section
  docs/orgmode/reference/architecture.org
Due: none

fix(tests): do not stream a null dlerror into the engine table test
  CppCore/tests/EngineTableTest.cc
Due: cppcheck

style(build): apply meson format to the engine targets
  CppCore/meson.build
  CppCore/rgpot/MetatomicPot/meson.build
  CppCore/rgpot/UmaPot/meson.build
  CppCore/rgpot/XTBPot/meson.build
Due: none

fix(tests): build the dlopen message before it reaches INFO
  CppCore/tests/EngineTableTest.cc
Due: cppcheck

style(docs): break the handshake paragraph where the pinned snapper expects
  docs/orgmode/reference/architecture.org
Due: none
