Repository OmniPotentRPC/rgpot: changes, and which pre-commit hooks are due for each by the changed paths.
All: cppcheck, nickel-format

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
    exclude: ^(src)
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-added-large-files
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v16.0.6
  hooks:
  - id: clang-format
    types_or: [c++, c]
- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format
- repo: local
  hooks:
    - id: towncrier-check
      name: towncrier fragment check
      entry: pixi run towncrier
      language: system
      pass_filenames: false
      always_run: true
      args: ["check", "--compare-with", "origin/main"]
    - id: cppcheck
      name: cppcheck
      entry: cppcheck
      language: system
      types_or: [c++, c]
      args: ["--error-exitcode=0"]
    # - id: cpplint
    #   name: cpplint
    #   entry: cpplint
    #   language: system
    #   types_or: [c++, c]
    #   args: ["--filter=-whitespace/comments,-runtime/references,-whitespace/indent,-runtime/int,-build/c++11"]
    - id: meson-format
      name: meson format
      entry: meson
      language: system
      types: [meson]
      files: meson\.build$
      args: ["format", "-i"]
    - id: nickel-format
      name: nickel format
      entry: pixi r -e cigen nickel
      language: system
      files: \.ncl$
      args: ["format"]

feat(ci): rework base
  ci/gha/workflow.ncl
Due: nickel-format

chore(meson): lint
  meson.build
Due: none

doc(release): rework
  CHANGELOG.md
  docs/newsfragments/+a1b2c3d4.rustcore.added.md
  docs/newsfragments/+a7b8c9d0.potlib.fixed.md
  docs/newsfragments/+b2c3d4e5.rustcore.added.md
  docs/newsfragments/+b8c9d0e1.build.changed.md
  docs/newsfragments/+c3d4e5f6.rustcore.added.md
  docs/newsfragments/+d1e2f3a4.rustcore.added.md
  docs/newsfragments/+d4e5f6a7.ci.added.md
  docs/newsfragments/+e5f6a7b8.docs.added.md
  docs/newsfragments/+f6a7b8c9.rustcore.added.md
Due: none

chore(ci): use prek
  .github/workflows/pre_commit.yml
  .pre-commit-config.yaml
  pixi.lock
  pixi.toml
  rgpot-core/Cargo.toml
Due: none

feat(cargo): towards a release..
  pixi.toml
  rgpot-core/Cargo.toml
  rgpot-core/build.rs
  rgpot-core/include/rgpot.h
Due: cppcheck

docs(devrel): initialize
  .gitignore
  docs/orgmode/architecture.org
  docs/orgmode/contributing/developer/faq.org
  docs/orgmode/contributing/developer/index.org
  docs/orgmode/contributing/developer/release.org
  docs/orgmode/contributing/developer/testing.org
  docs/orgmode/contributing/index.org
  docs/orgmode/index.org
  docs/source/conf.py
  pixi.lock
  pixi.toml
  rgpot-core/README.md
  rgpot-core/README.org
  rgpot-core/schema/Potentials.capnp
Due: none

chore(docs): restructure for more rst
  docs/source/conf.py
  rgpot-core/include/rgpot.h
  rgpot-core/src/c_api/mod.rs
  rgpot-core/src/lib.rs
  rgpot-core/src/potential.rs
  rgpot-core/src/rpc/client.rs
  rgpot-core/src/rpc/mod.rs
  rgpot-core/src/rpc/server.rs
  rgpot-core/src/status.rs
  rgpot-core/src/types.rs
Due: cppcheck

feat(rustdoc): postprocess with an extension
  docs/source/_ext/rustdoc_postprocess.py
  docs/source/conf.py
Due: none

chore(doc): back to native rustdoc output
  docs/source/_ext/rustdoc_postprocess.py
  rgpot-core/src/c_api/mod.rs
  rgpot-core/src/lib.rs
  rgpot-core/src/potential.rs
  rgpot-core/src/rpc/client.rs
  rgpot-core/src/rpc/mod.rs
  rgpot-core/src/rpc/server.rs
  rgpot-core/src/types.rs
Due: none

chore(rust): restructure api docs
  docs/orgmode/index.org
  docs/source/_ext/rustdoc_postprocess.py
  pixi.lock
  pixi.toml
  rgpot-core/include/rgpot.h
  rgpot-core/src/lib.rs
Due: cppcheck

chore(cache): less jitter sensitive
  CppCore/tests/CacheTest.cc
Due: cppcheck

chore(rst): render links correctly too
  docs/source/_ext/rustdoc_postprocess.py
Due: none

chore(rst): stop generating doctrees
  .gitignore
  pixi.toml
Due: none

chore(rel): finalize
  .github/workflows/ci_doc_commenter.yml
  .github/workflows/release.yml
  CMakeLists.txt
  CppCore/meson.build
  CppCore/rgpot/CuH2/meson.build
  CppCore/rgpot/LennardJones/meson.build
  CppCore/rgpot/rpc/meson.build
  docs/newsfragments/+release-ready.build.added.md
  docs/orgmode/contributing/developer/release.org
Due: none

deploy: 8cfdadebd6e6b4144fc0c3f6fea91a0decdc9a39
  changelog.html
  searchindex.js
Due: none

Release v1.0.0
  CHANGELOG.md
  CMakeLists.txt
  docs/newsfragments/+3e583e56.potlib.added.md
  docs/newsfragments/+5e4242e9.potlib.added.md
  docs/newsfragments/+a1b2c3d4.rustcore.added.md
  docs/newsfragments/+a7b8c9d0.potlib.fixed.md
  docs/newsfragments/+b2c3d4e5.rustcore.added.md
  docs/newsfragments/+b8c9d0e1.build.changed.md
  docs/newsfragments/+c3d4e5f6.rustcore.added.md
  docs/newsfragments/+d1e2f3a4.rustcore.added.md
  docs/newsfragments/+d4e5f6a7.ci.added.md
  docs/newsfragments/+e44f4523.potlib.added.md
  docs/newsfragments/+e5f6a7b8.docs.added.md
  docs/newsfragments/+f6a7b8c9.rustcore.added.md
  docs/newsfragments/+release-ready.build.added.md
  rgpot-core/Cargo.lock
  rgpot-core/Cargo.toml
  rgpot-core/build.rs
  rgpot-core/include/rgpot.h
  towncrier.toml
Due: cppcheck

chore(rs): apparently docs.rs has no capnp
  .pre-commit-config.yaml
  rgpot-core/Cargo.toml
  rgpot-core/build.rs
Due: none

Release v1.0.1
  .pre-commit-config.yaml
  CMakeLists.txt
  rgpot-core/Cargo.lock
  rgpot-core/Cargo.toml
  rgpot-core/include/rgpot.h
  towncrier.toml
Due: cppcheck

chore(rust): cleanup to prevent prek
  rgpot-core/build.rs
  rgpot-core/include/rgpot.h
Due: cppcheck

chore(pkg): use the new pypi release
  docs/source/_ext/rustdoc_postprocess.py
  docs/source/conf.py
  pixi.lock
  pixi.toml
Due: none

deploy: d7e46f885166e375165bfe405125e014069a24bb
  _sources/api/index.rst.txt
Due: none

docs: add external integration guide for namespace collision mitigation
  docs/orgmode/index.org
  docs/orgmode/integration_guide.org
Due: none

fix: MSVC compatibility for Windows builds
  meson.build
Due: none

docs: add changelog for v1.0.2/v1.0.3, quickstart guide, diataxis toctree
  CHANGELOG.md
  docs/orgmode/index.org
  docs/orgmode/quickstart.org
  towncrier.toml
Due: none

bld: decouple optional deps and gate examples/tests on availability
  CppCore/meson.build
  meson.build
Due: none

fix(rpc): full Windows/MSVC compatibility for capnp codegen and linking
  CppCore/rgpot/rpc/capnp_compile.py
  CppCore/rgpot/rpc/meson.build
Due: none

ci: fix meson format and pin sphinx <8.2 for doxyrest compat
  meson.build
  pixi.lock
  pixi.toml
Due: none

fix(docs): pin sphinx <8.1 to avoid visit_reference assertion
  pixi.toml
Due: none

chore: regenerate pixi.lock for sphinx <8.1 pin
  pixi.lock
Due: none

fix(docs): use myst_parser for changelog include
  docs/orgmode/changelog.org
  docs/source/conf.py
  pixi.toml
Due: none

docs: rework to diataxis structure with full Shibuya theme config
  docs/orgmode/howto/integration.org
  docs/orgmode/index.org
  docs/orgmode/reference/architecture.org
  docs/orgmode/tutorials/quickstart.org
  docs/source/conf.py
  pixi.lock
  pixi.toml
Due: none

docs: rework quickstart into proper tutorial, add embedding howto
  docs/orgmode/howto/embedding.org
  docs/orgmode/index.org
  docs/orgmode/tutorials/quickstart.org
Due: none

docs: restore logo image on front page
  docs/orgmode/index.org
Due: none
