Repository OmniPotentRPC/rgpot: changes, and which pre-commit hooks are due for each by the changed paths.
All: cppcheck, nickel-format

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=0

nickel-format:
  name: nickel format
  entry: pixi r -e cigen nickel
  language: system
  args:
  - format

build(pixi): add pytest to the umaexport environment
  pixi.toml
Due: none

build(pixi): relock with pytest in umaexport
  pixi.lock
Due: none

ci: pin every action to a full commit SHA
  .github/actions/restore-ci-tools/action.yml
  .github/actions/setup-ci-tools/action.yml
  .github/workflows/ci-orchestrator.yml
  .github/workflows/ci_doc_commenter.yml
  .github/workflows/ci_docs.yml
  .github/workflows/cosmo-potctl.yml
  .github/workflows/coverage.yml
  .github/workflows/publish.yml
  .github/workflows/release-prepare.yml
  .github/workflows/release.yml
  .github/workflows/wheels.yml
  ci/gha/annotate-pins.py
  ci/gha/check-drift.sh
  ci/gha/gen.sh
  ci/gha/lib/pins.ncl
  ci/gha/release.ncl
Due: nickel-format

ci: run the eonviz pin check as a blocking job
  .github/workflows/ci-orchestrator.yml
  ci/gha/plan.ncl
Due: nickel-format

docs: add changelog fragments for the UMA contract and eonviz pins
  docs/newsfragments/+check-eonviz-pins.added.md
  docs/newsfragments/+eonviz-pins.changed.md
  docs/newsfragments/+uma-edge-range.fixed.md
  docs/newsfragments/+uma-parity-model.changed.md
  docs/newsfragments/+umaexport-env.added.md
  docs/orgmode/tutorials/molecular-global-optimization.org
Due: none

fix(xtb): derive periodicity from the box
  CppCore/rgpot/XTBPot/XTBPot.cc
  CppCore/rgpot/XTBPot/XTBPot.hpp
  CppCore/tests/XTBPotTest.cc
Due: cppcheck

fix(tblite): derive periodicity from the box
  CppCore/rgpot/TBLitePot/TBLitePot.cc
  CppCore/rgpot/TBLitePot/TBLitePot.hpp
  CppCore/tests/TBLitePotTest.cc
Due: cppcheck

ci: make the coverage scripts work with lcov 2
  scripts/run_coverage_cpp.sh
  scripts/run_coverage_fortran.sh
Due: none

feat(metatomic): evaluate a batch of systems in one model forward
  CppCore/rgpot/MetatomicPot/MetatomicPot.cc
  CppCore/rgpot/MetatomicPot/MetatomicPot.hpp
  CppCore/tests/MetatomicPotTest.cc
Due: cppcheck

docs: add changelog fragments and describe the plugin CI leg
  docs/newsfragments/+actions-sha-pinned.dev.md
  docs/newsfragments/+ci-push-only-writes.dev.md
  docs/newsfragments/+coverage-fail-closed.dev.md
  docs/newsfragments/+eonviz-pins-ci.dev.md
  docs/newsfragments/+macos-wheel-required.dev.md
  docs/newsfragments/+plugin-ci-leg.dev.md
  docs/newsfragments/+wheel-contents-check.dev.md
  docs/orgmode/contributing/developer/index.org
Due: none

docs: changelog fragments and eindir validation and counter reference
  docs/newsfragments/+eindir-result-validation.fixed.md
  docs/newsfragments/+eval-counts.added.md
  docs/orgmode/howto/eindir-anneal.org
Due: none

test(metatomic): batch three equal-size systems
  CppCore/tests/MetatomicPotTest.cc
Due: cppcheck

feat(xckernel): unrestricted and spin-adapted fxc entry points with goldens
  CppCore/rgpot/XcKernel/XcKernel.cc
  CppCore/rgpot/XcKernel/XcKernel.hpp
  CppCore/tests/XcKernelTest.cc
  CppCore/tests/data/xckernel/MANIFEST.json
  CppCore/tests/data/xckernel/pyscf_h2o_sto3g/gga_st_corr_operands.npz
  CppCore/tests/data/xckernel/pyscf_h2o_sto3g/gga_st_m_fxc_ref.npy
  CppCore/tests/data/xckernel/pyscf_h2o_sto3g/gga_st_p_fxc_ref.npy
  CppCore/tests/data/xckernel/pyscf_h2o_sto3g/lda_st_corr_operands.npz
  CppCore/tests/data/xckernel/pyscf_h2o_sto3g/lda_st_m_fxc_ref.npy
  CppCore/tests/data/xckernel/pyscf_h2o_sto3g/lda_st_p_fxc_ref.npy
  CppCore/tests/data/xckernel/pyscf_uks_h2o_cation_sto3g/gga_operands.npz
  CppCore/tests/data/xckernel/pyscf_uks_h2o_cation_sto3g/gga_ua_fock_ref.npy
  CppCore/tests/data/xckernel/pyscf_uks_h2o_cation_sto3g/gga_ua_fxc_ref.npy
  CppCore/tests/data/xckernel/pyscf_uks_h2o_cation_sto3g/gga_ub_fock_ref.npy
  CppCore/tests/data/xckernel/pyscf_uks_h2o_cation_sto3g/gga_ub_fxc_ref.npy
  CppCore/tests/data/xckernel/pyscf_uks_h2o_cation_sto3g/lda_operands.npz
  CppCore/tests/data/xckernel/pyscf_uks_h2o_cation_sto3g/lda_ua_fock_ref.npy
  CppCore/tests/data/xckernel/pyscf_uks_h2o_cation_sto3g/lda_ua_fxc_ref.npy
  CppCore/tests/data/xckernel/pyscf_uks_h2o_cation_sto3g/lda_ub_fock_ref.npy
  CppCore/tests/data/xckernel/pyscf_uks_h2o_cation_sto3g/lda_ub_fxc_ref.npy
  CppCore/tests/data/xckernel/pyscf_uks_h2o_cation_sto3g/meta.json
  docs/xckernel.md
  scripts/regen_xckernel_goldens.py
Due: cppcheck

docs: changelog fragments and pages for periodicity, batching and spin-resolved kernels
  docs/newsfragments/+backend-periodicity.changed.md
  docs/newsfragments/+metatomic-batch.added.md
  docs/newsfragments/+xckernel-fxc-pin.fixed.md
  docs/newsfragments/+xckernel-spin-resolved.added.md
  docs/xtb_backends.md
Due: none

style: apply end-of-file and meson format hooks
  CppCore/tests/ExternalFortranPluginTest.cc
  CppCore/tests/plugin/meson.build
Due: cppcheck

fix(cmake): enable MPI hosts only when mpi.h compiles; oversubscribe the host tests
  CMakeLists.txt
  CppCore/tests/test_mpi_hosts.py
Due: none

fix(cmake): link the Fortran Coulomb plugin with the C driver on Apple
  CppCore/tests/plugin/CMakeLists.txt
Due: none

fix(uma): skip fixture cases without a package unless fixtures are required
  CppCore/tests/UmaPotTest.cc
Due: cppcheck

Revert "test(xckernel): pin the H2O GGA fxc case from the C dump at the exclusive bar"
  CppCore/tests/XcKernelTest.cc
  CppCore/tests/data/xckernel/MANIFEST.json
  CppCore/tests/data/xckernel/gga_r_o2_fxc_ref.npy
  CppCore/tests/dump_xckernel_goldens.cc
Due: cppcheck

fix(uma): retry package publication and reads through Windows sharing violations
  CppCore/rgpot/UmaPot/aoti_execstack.hpp
Due: cppcheck

style(build): apply meson format to the core source list
  CppCore/meson.build
Due: none

test(xckernel): regenerate the NumPy references and keep C dumps as regression pins
  CppCore/tests/data/xckernel/MANIFEST.json
  CppCore/tests/data/xckernel/c_regression/c_vs_numpy_xck_gga_r_o1_c.npy
  CppCore/tests/data/xckernel/c_regression/c_vs_numpy_xck_gga_r_o2_c.npy
  CppCore/tests/data/xckernel/c_regression/c_vs_numpy_xck_lda_r_o1_c.npy
  CppCore/tests/data/xckernel/c_regression/c_vs_numpy_xck_mgga_tau_r_o1_c.npy
  CppCore/tests/data/xckernel/c_regression/gga_r_o2_fxc_c.npy
  CppCore/tests/data/xckernel/c_regression/randgrid_gga_r_o1_fock_c.npy
  CppCore/tests/data/xckernel/c_regression/randgrid_lda_r_o1_fock_c.npy
  CppCore/tests/data/xckernel/c_regression/randgrid_mgga_tau_r_o1_fock_c.npy
  CppCore/tests/data/xckernel/c_vs_numpy/xck_gga_r_o1_ref.npy
  CppCore/tests/data/xckernel/c_vs_numpy/xck_gga_r_o2_ref.npy
  CppCore/tests/data/xckernel/c_vs_numpy/xck_lda_r_o1_ref.npy
  CppCore/tests/data/xckernel/c_vs_numpy/xck_mgga_tau_r_o1_ref.npy
  CppCore/tests/data/xckernel/gga_r_o1_fock_ref.npy
  CppCore/tests/data/xckernel/lda_r_o1_fock_ref.npy
  CppCore/tests/data/xckernel/mgga_tau_r_o1_fock_ref.npy
  CppCore/tests/dump_xckernel_goldens.cc
  scripts/regen_xckernel_goldens.py
Due: cppcheck

test(xckernel): bound C vs NumPy in ulp of the array magnitude
  CppCore/tests/XcKernelTest.cc
  CppCore/tests/ulp_bound.hpp
  docs/newsfragments/+xckernel-ulp-bars.changed.md
  docs/xckernel.md
Due: cppcheck

style(uma): indent the batch edge check
  CppCore/rgpot/UmaPot/UmaPot.cc
Due: cppcheck

style(docs): apply semantic line breaks to the eonviz tutorial
  docs/orgmode/tutorials/molecular-global-optimization.org
Due: none

fix(uma): retry publication slot reservation through transient Windows errors
  CppCore/rgpot/UmaPot/aoti_execstack.hpp
Due: cppcheck

test(xckernel): bound C vs NumPy by k eps max|ref| per array
  CppCore/tests/XcKernelTest.cc
  CppCore/tests/scale_bound.hpp
  CppCore/tests/ulp_bound.hpp
  docs/newsfragments/+xckernel-ulp-bars.changed.md
Due: cppcheck

perf(xckernel): contract stage B with blocked dgemm and dsyr2k
  CppCore/meson.build
  CppCore/rgpot/XcKernel/meson.build
  CppCore/rgpot/XcKernel/xckernel/evaluator.hpp
  CppCore/tests/xckernel_bench.cc
  docs/newsfragments/+xckernel-blas.changed.md
  docs/xckernel.md
  pixi.toml
Due: cppcheck

docs: move the backends page into the org tree and split its how-to
  docs/orgmode/howto/xtb-backends-tests.org
  docs/orgmode/reference/xtb_backends.org
  docs/xtb_backends.md
Due: none

docs: move the eOn pkg-config page into the org how-to tree
  docs/eon_pkgconfig.md
  docs/orgmode/howto/eon-pkgconfig.org
Due: none

docs: link the moved pages and fix their old paths
  CHANGELOG.md
  CppCore/meson.build
  README.md
  docs/orgmode/index.org
Due: none

docs: move the XcKernel reference into the org tree
  docs/orgmode/reference/xckernel.org
  docs/xckernel.md
Due: none

docs: regenerate the eonviz landscape with the pinned plotters and label the run
  docs/orgmode/_static/eon_min_landscape.png
  docs/orgmode/tutorials/molecular-global-optimization.org
  tests/eon_min_landscape.py
Due: none

docs: point the tutorial figures at the orgmode static directory
  docs/orgmode/tutorials/molecular-global-optimization.org
Due: none

feat(core): refuse incompatible backend capabilities before dispatch
  rgpot-core/src/compat.rs
  rgpot-core/src/lib.rs
  rgpot-core/src/profile.rs
Due: none

test(core): dispatch-path capability check on encoded messages
  rgpot-core/src/profile.rs
Due: none

feat(abi): capability handshake for profile backends in C++
  CppCore/rgpot/abi/Compat.hpp
  CppCore/tests/ProfileLoaderTest.cc
  CppCore/tests/cpmdc_fake_engine.cc
Due: cppcheck

feat(core): report the build version and source revision
  CppCore/meson.build
  CppCore/rgpot/abi/Compat.hpp
  CppCore/tests/ProfileLoaderTest.cc
  rgpot-core/build.rs
  rgpot-core/src/compat.rs
  rgpot-core/src/version.rs
Due: cppcheck

build: pin potentials-schema to the build-identity revision
  CppCore/rgpot/rpc/Potentials.capnp
  rgpot-core/schema/Potentials.capnp
  subprojects/potentials-schema.wrap
Due: none

Path conditions:
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  nickel-format: any of: \.ncl$
